<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>IGSTRIM+</title>

        <!-- bootstrap -->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}" charset="utf-8" />


        <!-- epoch -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/chart.css') }}" charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/epoch.min.css') }}" charset="utf-8" />

        <!-- jquery -->
        <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.js') }}" charset="utf-8"></script>

        <!-- socket io -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script>
            $(document).ready(function(){
                var socket = io.connect("http://" + document.domain + ":" + location.port + "/update_data");
                var channel_list = ['Mean', 'AF3', 'F7', 'F3', 'FC5', 'T7', 'P7', 'O1', 'O2', 'P8', 'T8', 'FC6', 'F4', 'F8', 'AF4'];
                var analyzeChannelList = ['fun', 'difficulty', 'arousal', 'valence', 'immersion', 'emotion'];

                eeg_chart_list = [];
                analyzerChartList = [];


                channel_list.forEach((element) => {
                    //console.log('element: ' + element);
                    id = '#eeg-' + element.toLowerCase();
                    var chart = $(id + ' .epoch').epoch({
                        type: 'time.line',
                        data: [{label: 'eeg-' + element, values:[]}],
                        axes: ['bottom', 'left'],
                        ticks: {
                            time: 30,
                            right: 2,
                            left: 2
                        },
                        queueSize: 1,
                        historySize: 1
                    });

                    eeg_chart_list.push(chart);
                });

                analyzeChannelList.forEach((element) => {
                    //console.log('element: ' + element);
                    id = '#analyze-' + element.toLowerCase()
                    var chart = $(id + ' .epoch').epoch({
                        type: 'time.area',
                        data: [{label: 'b-' + element, range: 'range-r', values:[]}, {label: 'a-' + element, range: 'range-l', values:[]}],
                        axes: ['bottom', 'left'],
                        range: {
                            left: 'range-l',
                            right: 'range-r'
                        },
                        ticks: {
                            time:  10,
                            right: 3,
                            left: 3
                        },
                        queueSize: 1,
                        historySize: 1

                    });

                    //chart.option('type', ['time.line', 'time.bar'])
                    chart.option({'fill': 'red'})

                    analyzerChartList.push(chart);
                });

                socket.on('response', function(msg) {
                    //console.log('Received message');
                    //console.log('eeg_chart_list.length:' + eeg_chart_list.length);
                    //console.log('channel_list.length:' + channel_list.length);
                    date = new Date()
                    var curTime = parseInt(date.getTime() / 1000)
                    //console.log('date' + date);
                    eeg_chart_list.forEach((chart, index) => {

                        if (index == 0) {
                            var newData = [{time: curTime, y: msg.eeg_mean}];
                            chart.push(newData);
                        } else {
                            var newData = [{time: curTime, y: msg.eeg_channels[index - 1]}];
                            chart.push(newData);
                        }
                    });

                    //console.log('analyzerChartList.length:' + analyzerChartList.length);
                    analyzerChartList.forEach((chart, index) => {
                        id = analyzeChannelList[index]
                        var newData = [{time: curTime, y: 0}, {time: curTime, y: msg[id + '_mean']}];

                        chart.push(newData);

                    });

                    if (msg.is_connected == true) {

                        if (msg.connection_status == 0) {
                            msg.connection_status = 1
                        }
                        $('#connection_progress').text('접촉 상태 ' + msg.connection_status + '%')
                        $('#connection_progress').css({'width': msg.connection_status + '%'})

                        //$('#connection_progress').css({'width': '100%'})
                        //$('#connection_progress').text('접촉 상태 100%')
                    }

                    if (msg.is_connected == true && ($('#connect').text() == '헤드셋 연결 중')) {
                        $('#connect').text('헤드셋 연결 해제');
                    } else if (msg.is_connected == false) {
                        console.log(msg.is_connected)
                    }

                    if ($('button#analysis').text() != '분석 확인')
                        $('#comment').text(msg.analysis);
                });
            });
        </script>

        <script>
            $(document).ready(function(){
                var socket = io.connect("http://" + document.domain + ":" + location.port);
                $('button#connect').click(function(event){
                    if ($('#connect').text() == '헤드셋 연결') {
                        $('#connect').text('헤드셋 연결 중');
                    } else {
                        $('#connect').text('헤드셋 연결');
                        $('#connection_progress').css({'width': '1%'});
                    }

                    socket.emit('connect_headset', {data: 'headset connect/disconnect request'});

                    return false;
                });

                $('button#analysis').click(function(event){
                    if ($('#connect').text() != '헤드셋 연결 해제') {
                        alert("헤드셋 접속을 먼저 해주세요.");
                    } else if (document.getElementById('analysis-name').value == "") {
                        alert("파일명을 입력하세요.");
                    } else {
                        var stat = 0;
                        if ($('#analysis').text() == '분석 시작') {
                            $('#analysis').text('분석 중지');
                            stat = 1;
                        } else if ($('#analysis').text() == '분석 중지') {
                            $('#analysis').text('분석 확인');
                            stat = 2;
                        } else {
                            $('#analysis').text('분석 시작');
                            stat = 0;
                        }
                        //if ($('#analysis').text() != '분석 시작')
                        //    $('#analysis').text('분석 시작');
                        //else
                        //    $('#analysis').text('분석 중지');
                        socket.emit('control_analysis', {data: document.getElementById('analysis-name').value, stat: stat});
                    }

                    return false;
                });

            });

        </script>

        <!-- working on -->
        <style>
            body { background: #333; color: #d0d0d0; }
            a:link, a:visited { color: white; color: white; }
        </style>


    </head>
    <body class="epoch-theme-dark">


        <div class="container" style="max-width: 100%;">
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-light bg-light col">
                  <a class="navbar-brand">IGSTRIM+</a>
                  <form class="form-inline col">
                      <div class="progress col-md-4 mr-2">
                        <div id="connection_progress"
                             class="progress-bar progress-bar-striped progress-bar-animated"
                             role="progressbar" style="width: 1%" aria-valuemin="0" aria-valuemax="100">접촉 상태 0%</div>
                      </div>
                      <button id="connect" class="btn btn-outline-success my-2 my-sm-0 col-md-2 mr-2">헤드셋 연결</button>
                      <input id="analysis-name" type="text" class=" form-control mr-sm-2 ml-2" placeholder="파일명: S01T01"/>
                      <button id="analysis" class="btn btn-outline-success my-2 my-sm-0">분석 시작</button>

                  </form>
                </nav>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div id="eeg-mean" class="col chart card bg-dark">
                            <label class="mx-auto">EEG Mean</label>
                            <div class="epoch"  ></div>
                        </div>
                    </div>
                    <!-- "AF3", "F7", "F3", "FC5", "T7", "P7", "O1", "O2", "P8", "T8", "FC6", "F4", "F8", "AF4" -->
                    <div class="row">
                        <div id="eeg-af3" class="col-md-6 chart-sm card bg-dark">
                            <label class="mx-auto">AF3</label>
                            <div class="epoch"  ></div>
                        </div>
                        <div id="eeg-f7" class="col-md-6 chart-sm card bg-dark">
                            <label class="mx-auto">F7</label>
                            <div class="epoch"  ></div>
                        </div>

                    </div>
                    <div class="row">
                        <div id="eeg-f3" class="col-md-6 chart-sm card bg-dark">
                            <label class="mx-auto">F3</label>
                            <div class="epoch"  ></div>
                        </div>

                        <div id="eeg-fc5" class="col-md-6 chart-sm card bg-dark">
                            <label class="mx-auto">FC5</label>
                            <div class="epoch"  ></div>
                        </div>
                    </div>

                    <div class="row">
                        <div id="eeg-t7" class="col-md-6 chart-sm card bg-dark">
                            <label class="mx-auto">T7</label>
                            <div class="epoch"  ></div>
                        </div>
                        <div id="eeg-p7" class="col-md-6 chart-sm card bg-dark">
                            <label class="mx-auto">P7</label>
                            <div class="epoch"  ></div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="eeg-o1" class="col-md-6 chart-sm card bg-dark">
                            <label class="mx-auto">O1</label>
                            <div class="epoch"  ></div>
                        </div>
                        <div id="eeg-o2" class="col-md-6 chart-sm card bg-dark">
                            <label class="mx-auto">O2</label>
                            <div class="epoch"  ></div>
                        </div>
                    </div>
                    <div class="row">

                        <div id="eeg-p8" class="col-md-6 chart-sm card bg-dark">
                            <label class="mx-auto">P8</label>
                            <div class="epoch"  ></div>
                        </div>
                        <div id="eeg-t8" class="col-md-6 chart-sm card bg-dark">
                            <label class="mx-auto">T8</label>
                            <div class="epoch"  ></div>
                        </div>
                    </div>
                    <div class="row">

                        <div id="eeg-fc6" class="col-md-6 chart-sm card bg-dark">
                            <label class="mx-auto">FC6</label>
                            <div class="epoch"  ></div>
                        </div>
                        <div id="eeg-f4" class="col-md-6 chart-sm card bg-dark">
                            <label class="mx-auto">F4</label>
                            <div class="epoch"  ></div>
                        </div>
                    </div>
                    <div class="row">

                        <div id="eeg-f8" class="col-md-6 chart-sm card bg-dark">
                            <label class="mx-auto">F8</label>
                            <div class="epoch"  ></div>
                        </div>
                        <div id="eeg-af4" class="col-md-6 chart-sm card bg-dark">
                            <label class="mx-auto">AF4</label>
                            <div class="epoch"  ></div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="row" style="height:200px">
                        <div id="analyze-fun" class="col chart card bg-dark">
                            <h2 class="mx-auto">재미</h2>
                            <div class="epoch"  ></div>
                        </div>
                    </div>
                    <div class="row" style="height:200px">
                        <div id="analyze-difficulty" class="col chart card bg-dark">
                            <h2 class="mx-auto">난이도</h2>
                            <div class="epoch"  ></div>
                        </div>
                    </div>
                    <div class="row" style="height:200px">
                        <div id="analyze-arousal" class="col chart card bg-dark">
                            <h2 class="mx-auto">Arousal</h2>
                            <div class="epoch"  ></div>
                        </div>
                    </div>
                    <div class="row" style="height:200px">
                        <div id="analyze-valence" class="col chart card bg-dark">
                            <h2 class="mx-auto">Valence</h2>
                            <div class="epoch"  ></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="width: 100%">
                    <div class="row" style="height:200px">
                        <div id="analyze-immersion" class="col chart card bg-dark">
                            <h2 class="mx-auto">몰입감</h2>
                            <div class="epoch"  ></div>
                        </div>
                    </div>
                    <div class="row" style="height:200px">
                        <div id="analyze-emotion" class="col chart card level-3 bg-dark">
                            <h2 class="mx-auto">즐거움</h2>
                            <div class="epoch"  ></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col card level-3 bg-dark pb-4">
                            <label class="mx-auto" for="comment">실시간 분석 현황</label>
                            <textarea readonly id="comment" rows="12"></textarea>
                        </div>
                    </div>

                </div>
            </div> <!-- row ends -->

        </div>

        <!-- static imports -->
        <script src="{{ url_for('static',filename='js/d3.v3.js') }}" charset="utf-8"></script>
        <script src="{{ url_for('static',filename='js/epoch.min.js') }}" charset="utf-8"></script>
        <script src="{{ url_for('static',filename='js/test-data.js') }}" charset="utf-8"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.js') }}" charset="utf-8"></script>

    </body>
</html>