<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Survey</title>



        <!-- bootstrap -->
        <!--<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}" charset="utf-8" />-->
        <link href="../static/css/bootstrap.css" rel="stylesheet">

        <!-- jquery -->
        <!--<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.js') }}" charset="utf-8"></script>-->
        <script type="text/javascript" src="../static/js/jquery.js"></script>

        <!--<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.js') }}" charset="utf-8"></script>-->
        <script type="text/javascript" src="../static/js/bootstrap.js"></script>

        <!-- socket io -->
        <!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>-->
        <script type="text/javascript" src="../static/js/socket.io.js"></script>

        <script>
            $(document).ready(function(){
                //var socket = io.connect("http://" + document.domain + ":" + location.port);
                var socket = io.connect("http://localhost:4001");
                $('#survey').modal({
                    backdrop: false
                });
                $('#survey').modal('show');

                $('button#connect').click(function(event){
                    //console.log($('#connect').text())
                    if ($('#connect').text() == '헤드셋 연결') {
                        $('#connect').text('헤드셋 연결 중');
                    } else {
                        $('#connect').text('헤드셋 연결');
                        $('#connection_progress').css({'width': '1%'});
                    }

                    socket.emit('connect_headset', {data: 'headset connect/disconnect request'});

                    return false;
                });

                $('button#save_score').click(function(event){
                    if ($('#amusement_score').text().length == 0 || $('#immersion_score').text().length == 0
                        || $('#emotion_score').text().length == 0 || $('#difficulty_score').text().length == 0) {
                        alert("헤드셋 접속을 먼저 해주세요.");
                    } else {
                        socket.emit('final_scores', {data: {
                            'amusement': $('#amusement_score').text(),
                            'immersion': $('#immersion_score').text(),
                            'difficulty': $('#difficulty_score').text(),
                            'emotion': $('#emotion_score').text(),
                            'arousal': $('#arousal_score').text(),
                            'valence': $('#valence_score').text()
                            }});
                        $('#survey').modal('hide');
                        $('#survey').modal('dispose');
                    }

                    return false;
                });

            });

        </script>

        <style>
            body { background: #000099; color: #d0d0d0; }
            a:link, a:visited { color: white; color: white; }
        </style>
    </head>
    <body>
        <div id="survey" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg text-secondary" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">게임 설문 평가</h5>
                        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                        <!--<span aria-hidden="true">&times;</span>-->
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>점수 1 ~ 9 (나쁨 1 ~ 9 좋음) </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>재미</td>
                                    <td id="amusement_score" contenteditable="true"></td>
                                </tr>
                                <tr>
                                    <td>몰입감</td>
                                    <td id="immersion_score" contenteditable="true"></td>
                                </tr>
                                <tr>
                                    <td>난이도</td>
                                    <td id="difficulty_score" contenteditable="true"></td>
                                </tr>
                                <tr>
                                    <td>감정</td>
                                    <td id="emotion_score" contenteditable="true"></td>
                                </tr>
                                <tr>
                                    <td>Arousal</td>
                                    <td id="arousal_score" contenteditable="true"></td>
                                </tr>
                                <tr>
                                    <td>Valence</td>
                                    <td id="valence_score" contenteditable="true"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                        <button type="button" id="save_score" class="btn btn-primary" data-dismiss="modal">저장</button>
                    </div>
                </div>
            </div>
        </div>

        <!--<div id="survey" class="modal">-->
                <!--<div class="container">-->
                    <!--<div class="row">-->
                        <!--<h1 class="mx-auto">게임 설문 평가 </h1>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col">-->
                            <!--<table class="table table-bordered">-->
                                <!--<thead>-->
                                    <!--<tr>-->
                                        <!--<th></th>-->
                                        <!--<th>점수 1 ~ 9 (나쁨 1 ~ 9 좋음) </th>-->
                                    <!--</tr>-->
                                <!--</thead>-->
                                <!--<tbody>-->
                                    <!--<tr>-->
                                        <!--<td>재미</td>-->
                                        <!--<td id="amusement_score" contenteditable="true"></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>몰입감</td>-->
                                        <!--<td id="immersion_score" contenteditable="true"></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>감정</td>-->
                                        <!--<td id="emotion_score" contenteditable="true"></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>난이도</td>-->
                                        <!--<td id="difficulty_score" contenteditable="true"></td>-->
                                    <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-4">-->
                        <!--</div>-->
                        <!--<div class="col-md-4">-->
                            <!--<button id="save_score" class="btn btn-primary btn-block">저장</button>-->
                        <!--</div>-->
                        <!--<div class="col-md-4">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
    </body>


</html>