body {
    font-family: helvetica;
}

/* Default test chart height of 220px. */
.chart .epoch {
    height: 100px;
}

.chart-mm .epoch {
    height: 150px;
}

.chart-sm .epoch {
    height: 60px;
}

.broken {
    color: red;
}
